/* Если у body есть класс main-body_added, то внутри такого body любому элементу с классом main-sidebar задается внутренний отступ сверху.
В данном случае применятся для левого сайдбара, чтобы он был ниже самого верхнего меню */
.main-body_added .main-sidebar {
  padding-top: 4.5rem;
}

/* задаем внешний отступ сверху для блока со всем контентом, чтобы он не был под первым меню */
#firstwrapper {
  margin-top: 4.5rem;
}

/* Самое верхнее меню имеет класс nav-header_added. Оно
фиксированно расположено,
сверху,
поверх других блоков,
занимает всю ширину */
.main-body_added .nav-header_added {
  padding-left: 0.5rem;
  position: fixed;
  top: 0;
  z-index: 1039;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* Для второго горизонтального меню задаем сверху границу, чтобы оно отделялось на глаз */
.main-body_added .main-header {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  /* margin-top: 4.5rem; */
  background: #f4f6f9;
}

/* Задаем цвет тексту Лого (ссылка с наименованием бренда и Лого),
цвет черный с прозрачностью в 50%
убираем внутренние отступы */
.main-body_added a.brand-link {
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin-right: 1rem;
}

/* Убираем внешние отступы и ограничение высоты для картинки Лого */
.main-body_added a.brand-link .brand-image {
  margin: 0;
  max-height: initial;
  width: 236px;
  /* height: auto; */
}

/* Задаем при наведении цвет тексту Лого (ссылка с наименованием бренда и Лого),
цвет черный с прозрачностью в 30% */
.main-body_added a.brand-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

/* Старые тестовые стили для первого блока контента */
.first-block {
  padding-top: 1rem;
}

/* Перемещаем правый сайдбар на передний план (над вторым меню), делаем внутренний отступ сверху, чтобы было красивее */
.main-body_added .control-sidebar {
  display: block;
  top: 72px;
  transition: right 0.7s ease;
  z-index: 1034;
  /* padding-top: 0.75rem; */
  right: -400px;
  width: 400px;
  /* padding: 1rem; */
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  height: auto;
  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
}

.control-sidebar.show {
  display: block;
  right: 0;
}

.dropdown-toggle::after {
  /* vertical-align: unset; */
  margin-left: 0.25rem;
}

.control-sidebar-gray {
  background: #f2f2f2;
}

/* Скрываем добавленный гамбургер (элемент, по нажатию на который будет появляться меню на небольших экранах) */
.gamburger_added {
  display: none;
  font-size: 22px;
}

/* Скрываем добавленный значок закрытия меню, появляющегося на небольших экранах.
Этот значок позиционируется относительно окна браузера,
он на переднем плане,
отступы справ и слева от кона браузера 0.5 * 16 px,
при наведении курсор будет в виде пальца,
размер шрифта и цвет */
#closeicon_added {
  display: none;
  position: absolute;
  z-index: 1050;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  /* font-weight: thin; */
  color: rgba(0, 0, 0, 0.5);
}

/* При навдении на этот крестик меняется его прозрачность цвета */
#closeicon_added:hover {
  color: rgba(0, 0, 0, 0.7);
}

/* Скрываем добавленный значок поиска, появляющегося на небольших экранах */
#searchhover_added {
  display: none;
  margin-left: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Первые адаптивные изменения при ширине меньше или равно 1222px */
@media (max-width: 1222px) {

  /* При клике на гамбургер к body добавляется класс modal-open, у него есть стиль, который убирает возможность скролить контент внутри body */
  body.modal-open {
    overflow: hidden;
  }

  /* Отображаем гамбургер */
  .gamburger_added {
    display: block;
  }

  /* Скрываем сам список элементов меню, задаем ему анимацию всех свойств продолжительностью в 1 секунду */
  .main-body_added .nav-header_added .navbar-nav_added {
    display: none;
    transition: all 1s ease;
  }

  /* Когда меню открывется, у него добавляется класс displayok, задаем ему стили:
  отображаем как флекс-элемент,
  выравниваем относительно окна браузера,
  ширина 100% родителя, минимальная высота в 100% от высоты окна браузера,
  выносим его на более ближний план,
  задаем расположение элементов в столбик,
  отступы слева и сверху нулевые,
  белый фон с 15% прозрачностью,
  выравниваем элементы по горизонтали по центру,
  равномерно распределяем элементы по вертикали с равными отступами серху и снизу них,
  высота 100%,
  убираем отображение скролбара и возможности скролить */
  .main-body_added .nav-header_added .navbar-nav_added.displayok {
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 1040;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    overflow: hidden;
  }

  /* отображаем элементы данного списка как блочные, были в строку (!important применяем в исключительных ситуациях, чтобы стиль точно (99%) применился) */
  .main-body_added .nav-header_added .navbar-nav_added.displayok li {
    display: block !important;
  }

  /* менем цвет текста ссылок данных элементов списка, отображаем сами ссылки как строчные, задаем размер шрифта */
  .main-body_added .nav-header_added .navbar-nav_added.displayok li a {
    /* color: rgb(255, 255, 255); */
    color: rgba(0, 0, 0, 0.5);
    display: inline;
    font-size: 1.5rem;
  }

  /* меняем цвет текста данных ссылок при наведении */
  .main-body_added .nav-header_added .navbar-nav_added.displayok li a:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  /* Иконке также добавляем класс при нажатии на гамбургер, этот класс отображает иконку */
  #closeicon_added.displayok {
    display: block;
  }
}

/* адаптивные изменения при ширине меньше или равно 777px */
@media (max-width: 777px) {

  /* Убираем фиксированную ширину (250px) для текста лого */
  .main-body_added.layout-fixed .brand-link {
    width: auto;
  }
}

/* адаптивные изменения при ширине меньше или равно 670px */
@media (max-width: 670px) {

  /* Скрываем текст справа от лого */
  .main-body_added.layout-fixed .brand-link .brand-text {
    display: none;
  }
}

/* адаптивные изменения при ширине меньше или равно 545px */
@media (max-width: 545px) {

  /* отображаем новый значок для поиска */
  #searchhover_added {
    display: block;
  }

  /* стили для класса формы поиска form-inline выравнивают её относительно окна браузера и скрывают её */
  .nav-header_added .form-inline {
    position: absolute;
    left: 7rem;
    top: 3rem;
    display: none;
  }

  /* При нажатии на иконку поиска форме добавляется класс displayok, который её отображает, добавляет скругленную границу вокруг с тенью */
  .nav-header_added .form-inline.displayok {
    display: block;
    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 0.25rem;
    box-shadow: 3px 3px 9px 3px #ddd;
  }
}

/* Убираем изменение размеров и исчезновение текста справа от лого при сворачивании левого сайдбара */
@media (min-width: 992px) {
  .sidebar-mini.sidebar-collapse.layout-fixed .brand-link {
    width: 250px;
  }

  .sidebar-mini.sidebar-collapse .brand-text {
    /* ,.sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p
  ,.sidebar-mini.sidebar-collapse .sidebar .user-panel>.info { */
    margin-left: 0px;
    opacity: 1;
    visibility: visible;
  }
}

/* Стили для блока с иконкой пользователя */
.user-panel_added {
  padding-right: 0.5rem !important;
  padding-top: 0.25rem;
}

/* Стили для иконки пользователя */
.user-panel_added img {
  height: auto;
  margin-right: 0.25rem;
  width: 2.1rem;
}

/*Стили для значков рядом с иконкой пользователя*/
.Fontsizeicon {
  font-size: 22px;
}

/*Выравнивание первого элемента во втором меню*/
.paddingmenu a {
  padding: 4px;
}

/* Отступ сверху и нижняя граница для блока с выбором роли в левом сайдбаре */
#leftaside .nav-sidebar {
  margin-top: 0.5rem;
  border-bottom: 1px solid #fff;
  border-radius: 0.25rem;
}

/* Скрытые блоки навигации в сайдбаре слева */
nav[data-selectRoleContent_added] {
  display: none;
}

/* Показываемые блоки навигации в сайдбаре слева */
nav[data-selectRoleContent_added].displayok {
  display: block;
}

/* Меняем цвет дропдауна выбора ролей в системе*/
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #1a252f;
}

/* Меняем Настройки хлебных крошек*/
.breadcrumb {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background: none;
}

/* Убираем фон у контекнта */
.content-wrapper {
  background: none;
}

/* Фон и цвет текста для активного пункта меню слева под ролями */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: rgba(255, 255, 255, 0.9);
  color: #343a40;
  /* background-color: #1a252f; */
}

/* скрываем все секции */
[data-sectionNumber] {
  display: none;
}

/* показываем только ту секцию, которой соотвествует активный пункт меню слева под ролями */
[data-sectionNumber].active {
  display: block;
}

/* Отступ снизу для блоков продвижения */
.promotion .promotion-item {
  max-height: 250px;
  height: 250px;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, #343a40, #707c92);
  color: #fff;
}

.promotion .promotion-item {
  transition: transform 0.3s, box-shadow 0.3s;
  transition-timing-function: ease;
}

.promotion .promotion-item:hover {
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.promotion-item .row>div:first-child {
  text-align: center;
}

.promotion-item img {
  width: 100%;
  max-width: 400px;
  height: 250px;
  padding: 25px;
}

/* .promotion-itemText {
  padding-top: 1.5rem;
  padding-right: 10%;
} */

.promotion-itemText h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.short-description {
  /* font-size: 0.875rem; */
}

.subscibes-count {
  margin: 0.5rem auto 0.875rem auto;
}

.subscibes-count *:first-child {
  font-size: 1.25rem;
  color: #007bff;
}

.goToChannel {
  padding: 0.375rem 0.5rem;
  background: white;
  color: #222222;
}

.goToChannel i {
  margin-left: 0.25rem;
  color: #007bff;
}

.channel-language,
.channel-category {
  margin-bottom: 0.5rem;
  line-height: 1.15;
}

.channel-language div:last-child,
.channel-category div:last-child {
  font-size: 1.25rem;
  color: #007bff;
}

.carousel-item .channel-adprice-name {
  margin-bottom: 0;
}

.carousel-item .price-info {
  color: #222222;
  background-color: #fff;
}

.carousel-item .price-info i {
  color: #007bff;
}

.carousel-item-wrapper>* {
  padding: 0.625rem;
  background-color: #f3f6f9;
}

/* .carousel-item-content */
/* .carousel-item-header */
/* .carousel-item-img */

.carousel-item-description {
  background-color: #f0f5fd;
}

.carousel-item-wrapper {
  display: flex;
}

.carousel-item-wrapper>* {
  flex: 2;
  margin-left: 0.625rem;
}

.carousel-item-img {
  max-width: 170px;
  display: flex;
  /* align-items: center; */
  align-items: baseline;
}

.carousel-item-img img {
  width: 150px;
}

.carousel-item-wrapper>*:first-child {
  flex: 1;
  margin-left: 0;
}

/* .carousel-control-next,
.carousel-control-prev {
  z-index: 11;
  color: #343a40;
} */

/* .carousel-control-next-icon,
.carousel-control-prev-icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
} */

.carousel-item-content .channel-adprice {
  line-height: 1.15;
  padding: 0;
}

.carousel-item-content .btn {
  padding: 0.25rem 0.75rem;
}

.carousel-indicators li {
  background-color: #343a40;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev {
  justify-content: flex-start;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: all 0.6s ease;
  }
}

/* Положение кнопки "Подробнее" для блоков продвижения */
.ribbon-button {
  position: absolute;
  left: 0.5rem;
  bottom: 1.5rem;
  z-index: 11;
}

/* Отступы для контента */
.content-wrapper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

/* Отступы для верхнего и нижнего меню */
.main-header,
.header {
  padding-left: 1rem;
  padding-right: 1.6rem;
}

/* Дни календаря для постов */
.dayNumber,
.monthNumber {
  font-weight: bold;
}

.weekendDay {
  color: red;
}

.calendarList {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.calendarList-item {
  list-style: none;
  width: 100%;
  margin-right: 1rem;
}

.calendarList-item:last-of-type {
  margin-right: 0;
}

.publication {
  padding: 0;
}

.publication-item {
  position: relative;
  list-style: none;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 0.5rem;
  margin-top: 0.75rem;
  vertical-align: middle;
  cursor: pointer;
}

.publication-item:not(.publication-item-no):hover {
  background-color: #1f3b6b;
  color: white;
}

.publication-item:not(.publication-item-no):hover .circle {
  background-color: white;
  color: #1f3b6b;
}

.publication-item-no {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  cursor: inherit;
}

.circle {
  border: 1px solid #aaa;
  box-shadow: inset 1px 1px 3px #fff;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  position: absolute;
  right: 0.25rem;
  top: 5px;
  margin: 4px;
  display: inline-block;
  /* vertical-align: middle; */
  background: #aaaaaa4f;
}

.circle:hover {
  background: radial-gradient(#aaa, #fff);
}

.circle:active {
  background: #6363634f;
}

.circle:before,
.circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* PLUS */
.circle.plus:before,
.circle.plus:after {
  background: green;
  box-shadow: 1px 1px 1px #ffffff9e;
}

.circle.plus:before {
  width: 2px;
  margin: 3px auto;
}

.circle.plus:after {
  margin: auto 3px;
  height: 2px;
  box-shadow: none;
}

/* MINUS */
.circle.minus:before {
  background: #cc0000;
  margin: auto 3px;
  height: 2px;
  box-shadow: 0px 1px 1px #ffffff9e;
}

/* CROSS */
.circle.cross:after,
.circle.cross:before {
  background: #000;
  margin: auto 4px;
  height: 2px;
  transform: rotateZ(45deg);
  box-shadow: 0px 1px 1px #ffffff9e;
}

.circle.cross:after {
  transform: rotateZ(-45deg);
}

/*****************************************************/
/* Стили для Мои каналы, взяты на 90% с сайта tgstat */
/*****************************************************/

/* Стили для строк фильтров */
.sub-nav {
  background-color: #f3f6f9;
  padding: 10px 10px 0 0;
  margin-bottom: 0;
  /* display: block; */
  overflow: hidden;
  /* margin-top: 1rem; */
  width: 100%;
}

.sub-nav-first {
  background-color: #e8ecef;
  margin-top: 1rem;
}

.sub-nav dt {
  text-transform: uppercase;
  font-weight: normal;
}

.sub-nav dt,
.sub-nav dd,
.sub-nav li {
  /* color: #999999; */
  float: left;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.77778rem;
  font-weight: normal;
  /* margin-bottom: 5px; */
  margin-left: 0.88889rem;
  margin-bottom: 10px;
}

.sub-nav dt a,
.sub-nav dd a,
.sub-nav li a {
  text-decoration: none;
  color: #5f5f5f;
  cursor: default;
  font-weight: normal;
  /* padding: 0.16667rem 0.88889rem; */
  padding: 0.16667rem 7px;
}

.sub-nav dt.active a,
.sub-nav dt a:hover,
.sub-nav dd.active a,
.sub-nav dd a:hover,
.sub-nav li.active a,
.sub-nav li a:hover {
  border-radius: 3px;
  background: #5f5f5f;
  color: #ffffff;
  cursor: pointer;
  font-weight: normal;
  /* padding: 0.16667rem 0.88889rem; */
  padding: 0.16667rem 7px;
}

.sub-nav input:not([type="checkbox"]) {
  width: 100%;
  margin-bottom: 1rem;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: none;
  border-radius: 3px;
}

.custom-control-label::before {
  top: 0rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border: 1px solid #007bff;
  box-shadow: unset;
  border-radius: 3px;
}

.custom-control-label::after {
  top: 0rem;
  width: 1.25rem;
  height: 1.25rem;
  background: no-repeat 80%/80% 80%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23007BFF' d='M5.564.75l-2.59 4.612-1.538-1.55L0 4.26 2.474 8.25 7.5 0.393z'/%3E%3C/svg%3E");
}

.custom-control {
  font-size: 0.875rem;
  position: relative;
  display: inline-block;
  padding-left: 3.5rem;
}

.custom-control label {
  cursor: pointer;
}

.sub-nav select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
}

.select-wrapper:after {
  display: block;
  position: absolute;
  content: "\25bc";
  right: 0.5rem;
  top: 0rem;
  color: #888888;
  pointer-events: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.more-categories-list.hide {
  display: none;
}

.large-text-right {
  text-align: right;
}

.extended-search-container.hide {
  display: none;
}

div.r-blocks {
  position: relative;
  padding-top: 2rem;
  /* margin-bottom: 1rem; */
}

/* div.r-blocks span {
  z-index: 1;
  bottom: 16px;
  right: 7px;
  font-size: 10px;
  padding: 0px 7px 2px 7px;
  border-top-left-radius: 5px;
  background-color: #f4f6ff;
  position: absolute;
  border-bottom-right-radius: 3px;
  border: 1px #88bdf9 solid;
}

div.r-blocks span a {
  color: #1e82ff;
} */

div.r-blocks .r-blocks-items {
  padding-top: 8px;
  padding-bottom: 12px;
  /* margin-top: 8px; */
  margin-bottom: 1rem;
  padding-left: 12px;
  /* cursor: pointer; */
  border: 1px #88bdf9 solid;
  border-radius: 3px;
  background-color: #56a8ff;
  color: white;
}

/* div.r-blocks .r-blocks-items:nth-child(2n + 1) {
  border-left: 1px #a7cfff dotted;
  border-right: 1px #a7cfff dotted;
} */

div.r-blocks .r-title {
  /* margin-top: 8px; */
  margin-bottom: 5px;
  font-weight: bold;
  height: 21px;
  overflow: hidden;
}

div.r-blocks .r-image-container {
  float: right;
  /* margin-right: 10px; */
}

div.r-blocks .r-description {
  font-size: 0.8rem;
  line-height: 1.55em;
  height: 40px;
}

div.r-blocks .r-action-container {
  margin-top: 1rem;
}

div.r-blocks .r-action-btn {
  width: 100%;
  height: 33px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

/* .sticky-left-column input {
  width: 100%;
  padding: 0.25rem;
} */

div.filter-sort a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

div.filter-sort.desc a,
div.filter-sort.asc a {
  border-bottom: 1px #2199e8 dotted;
  /* text-decoration: none; */
  font-weight: bold;
}

div.filter-sort.desc a:last-child:after {
  content: "↓";
}

div.filter-sort.asc a:last-child:after {
  content: "↑";
}

.filter-sort {
  text-align: center;
  overflow-x: hidden;
  float: left;
  width: calc(100% / 7);
}

.channels-sortpanel {
  z-index: 100;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
  background-color: #e8ecef;
  border-radius: 3px;
  padding: 0.25rem;
}

.channels_list_body div.channel {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px 0.5rem;
  border: 1px #f2f2f2 solid;
  position: relative;
}

.channels_list_body div.channel>.row {
  align-items: center;
}

/* .channels_list_body div.row {
  background-color: #f9f9f9;
} */

.channel .r-action-btn {
  /* position: absolute;
  z-index: 1;
  right: 0.5rem;
  bottom: 0.5rem; */
  /* left: 25rem;
  bottom: 0.75rem; */
}

.long-description {
  max-height: 4.5rem;
  overflow: hidden;
}

.img-thumbnail {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  max-height: 4rem;
  height: auto;
  padding: 0;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.channel-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 22px;
}

.price-info {
  /* float: left; */
  display: inline;
  border-radius: 3px;
  background: #6880a8;
  color: #ffffff;
  cursor: pointer;
  font-weight: normal;
  /* padding: 0.16667rem 0.88889rem; */
  padding: 0.16667rem 7px;
}

a.table-link {
  border-bottom: 1px #2199e8 dotted;
  text-decoration: none;
  color: black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

/* Конец стилей из tgstat */

#closeicon2_added {
  position: absolute;
  z-index: 1035;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.2);
}

#closeicon2_added:hover {
  color: rgba(0, 0, 0, 0.5);
}

.channel-top-block {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.channel-img {
  text-align: center;
  margin-right: 1rem;
}

.channel-img img {
  width: 70px;
  border-radius: 50%;
}

.channel-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: "Roboto";
}

.channel-header {
  flex: 1;
}

.channel-description {
  padding: 1rem;
  background: #f3f6f9;
}

.channel-adprice-content {
  display: flex;
  align-items: center;
}

.channel-adprice {
  padding: 1rem;
}

.channel-adprice-name {
  font-family: "Roboto";
  margin-bottom: 1rem;
}

.channel-adprice-number {
  font-size: 1.625rem;
  color: #29c24a;
  margin-right: 1.75rem;
}

.channel-adprice-number span {
  font-size: 1rem;
}

.channel-adprice-content button {
  margin-left: 3.125rem;
  width: 135px;
  color: white;
}

.channel-subscribes,
.channel-views,
.channel-posts,
.channel-err {
  padding: 1rem;
}

.channel-subscribes,
.channel-posts {
  background: #f3f6f9;
}

.channel-subscribes-name,
.channel-views-name,
.channel-posts-name,
.channel-err-name {
  font-size: 1.25rem;
  font-family: "Roboto";
  margin-bottom: 0.875rem;
}

.channel-subscribes-content,
.channel-views-content,
.channel-posts-content,
.channel-err-content {
  display: flex;
  align-items: center;
}

.channel-subscribes-content>*>*:first-child,
.channel-views-content>*>*:first-child,
.channel-posts-content>*>*:first-child,
.channel-err-content>*>*:first-child {
  font-size: 0.875rem;
  line-height: 1;
}

.channel-subscribes-content>*>*:last-child,
.channel-views-content>*>*:last-child,
.channel-posts-content>*>*:last-child,
.channel-err-content>*>*:last-child {
  color: #007bff;
  line-height: 1.1;
}

.channel-subscribes-content>*:not(:last-child)::after,
.channel-views-content>*:not(:last-child)::after,
.channel-posts-content>*:not(:last-child)::after,
.channel-err-content>*:not(:last-child)::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 1.5rem;
  background: #959595;
  right: 0;
  top: 0.375rem;
}

.channel-subscribes-content>* {
  width: 22%;
  position: relative;
}

.channel-subscribes-content>*:not(:last-child) {
  margin-right: 4%;
}

.channel-views-content>*,
.channel-posts-content>*,
.channel-err-content>* {
  width: calc(92% / 3);
  position: relative;
}

.channel-views-content>*:not(:last-child),
.channel-posts-content>*:not(:last-child),
.channel-err-content>*:not(:last-child) {
  margin-right: 4%;
}

.channel .show-for-large>div {
  text-align: center;
  float: left;
  /* min-width: 120px; */
  width: calc(100% / 7);
}

.channel-selected button:last-of-type {
  float: right;
}

.tab-content {
  position: relative;
}

.tab-pane ul.navbar-nav {
  position: absolute;
  right: 7.5px;
  top: -3.5rem;
}

#channelsList {
  margin-bottom: 1rem;
}

.paginationjs {
  display: flex;
  justify-content: center;
}

#carouselExampleIndicators2 .carousel-control-next,
#carouselExampleIndicators2 .carousel-control-prev {
  width: 1rem;
}

#carouselExampleIndicators2 .carousel-control-prev {
  left: -1rem;
}

#carouselExampleIndicators2 .carousel-control-next {
  right: -1rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2rem;
  height: 1rem;
  vertical-align: -3px;
}

.modal-body {
  padding: 0rem;
}

.modal-content {
  border-radius: 0.75rem;
}

.modal form label {
  line-height: 2.625rem;
  margin-bottom: 0;
}

.modal .close,
.modal .mailbox-attachment-close {
  font-size: 2.5rem;
  color: white;
  right: 1rem;
  top: 1rem;
  position: absolute;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.username_wrap {
  position: relative;
  display: inline-block;
}

.username_wrap::before {
  content: "@";
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 18px;
  line-height: 16px;
  height: 16px;
  color: #c0c0c0;
  font-weight: 700;
  font-size: 16px;
}

.modal-header {
  width: 100%;
  height: 136px;
  background-color: #007bff;
  background: #007bff url(img/modal_add_channel_bg.png) 27px top no-repeat;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  padding-left: 268px;
  padding-top: 50px;
  margin-bottom: 1rem;
}

.modal-title {
  color: white;
  font-size: 1.5rem;
  font-size: 2rem;
  font-weight: 900;
}

.modal input[type="text"]:focus,
.modal input[type="password"]:focus,
.modal input[type="email"]:focus,
.modal input[type="number"]:focus,
.modal input[type="text"].search_input:focus {
  border-color: #007bff;
}

.modal textarea:focus {
  border-color: #007bff;
}

.modal label.text_label {
  cursor: pointer;
}

.modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"],
.modal input[type="number"],
.modal input[type="text"].search_input {
  width: 300px;
  outline: none;
  height: 42px;
  line-height: 42px;
  padding: 0 15px;
  border: 2px solid #e8e8e8;
  background-color: #fbfbfb !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -o-border-radius: 21px;
  border-radius: 21px;
}

.modal .username_wrap input[type="text"] {
  padding-left: 2rem;
}

.modal input[type="checkbox"].custom_checkbox+label,
.modal input[type="radio"].custom_radio+label {
  width: 22px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  color: #dddddd;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal input[type="checkbox"].custom_checkbox,
.modal input[type="radio"].custom_radio {
  display: none;
}

.modal input[type="checkbox"].custom_checkbox:checked+label::before {
  content: "\f058";
}

.modal input[type="checkbox"].custom_checkbox:checked+label::before,
.modal input[type="radio"].custom_radio:checked+label::before {
  color: #007bff;
}

.modal input[type="checkbox"].custom_checkbox+label::before,
.modal input[type="radio"].custom_radio+label::before {
  content: "\f111";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal textarea {
  width: 300px;
  outline: none;
  padding: 10px 15px;
  border: 2px solid #e8e8e8;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  background-color: #fbfbfb !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.center {
  text-align: center;
}

.modal .modal_add_channel_to_stock {
  padding: 15px 30px 10px 30px;
  justify-content: center;
}

.blue_bg {
  background-color: #007bff;
  color: #ffffff;
}

.modal form div.row {
  margin-bottom: 0.75rem;
}

.modal .button,
.modal a.button,
.modal input[type="submit"] {
  height: 52px;
  line-height: 42px;
  padding: 0 20px;
  border: none;
  color: #007bff;
  background-color: #ffffff;
  border: 4px solid #e8e8e8;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 33px;
  /* font-family: 'Roboto Slab', serif; */
  min-width: 155px;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
  width: 200px;
  display: block;
}

.modal .button_v2,
.modal a.button_v2,
.modal input[type="submit"].button_v2 {
  border-color: #007bff;
  padding: 0 30px;
}

.relative {
  position: relative;
}

.modal-footer {
  border-top: none;
}

/* 
.add_channel_wrap form div.row,
#modal-add-channel form div.row {
  margin-bottom: 15px;
} */

/* 
.modal select {
  display: none;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
} */

.channel:not(.ribboned) .ribbon-sign {
  color: #dcdcdc;
}

.channel:not(.ribboned) .ribbon-sign:hover {
  color: rgba(255, 41, 41, 0.6);
}

.channel.ribboned .ribbon-sign:hover {
  color: rgba(255, 41, 41, 0.6);
}

.ribbon-sign {
  transition: color 0.2s;
  color: #ff2929;
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
}

/* .ribbon-sign {
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 32px;
  background-color: gold;
  position: relative;
  right: 0px;
  top: -1px;
} */

/* .ribbon-sign:before {
  content: "";
  width: 24px;
  height: 8px;
  position: absolute;
  z-index: 0;
  left: -2px;
  top: -4px;
  background-color: #507abd;
} */

/* .ribbon-sign:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -10px;
  border-left: 10px solid gold;
  border-right: 10px solid gold;
  border-bottom: 10px solid transparent;
} */

/* begin star_rating.css */
.star-rating__container {
  display: inline-block;
}

.star-rating__wrapper {
  position: relative;
  left: 0rem;
  display: flex;
}

.star-rating {
  display: inline-block;
  position: relative;
  user-select: none;
}

.star-rating__bg {
  color: #e0e0e0;
  display: flex;
}

.star-rating__live {
  display: flex;
  color: #ffd700;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.star-rating_active:hover .star-rating__live {
  overflow: auto;
  width: 100% !important;
  color: #e0e0e0;
}

.star-rating__item_active {
  color: #ffb74d;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.star-rating__item {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
}

.star-rating__avg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  width: 2em;
}

.star-rating__votes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5em;
  font-size: 0.875em;
}

/* end star_rating.css */

.form-inline {
  width: 100%;
}

@media (min-width: 576px) {

  .form-inline .custom-select,
  .form-inline .input-group {
    width: 100%;
  }
}

span.plus {
  font-size: 2rem;
  line-height: 1rem;
  /* text-align: center; */
  vertical-align: sub;
  margin-left: 0.25rem;
}

span.plus::before {
  content: "+";
}

.search-container {
  display: flex;
  background-color: #f3f6f9;
  padding: 1.25rem;
}

.extended-search-container {
  padding: 1.25rem;
  padding-top: 0;
}

.search_wrap {
  position: relative;
  flex: 1;
}

.search_wrap i {
  color: #a4a4a4;
  font-size: 0.75rem;
  position: absolute;
  left: 8px;
  top: 9px;
}

.form-control2 {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  padding-left: 1.5rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
}

select.form-control2 {
  width: 220px;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
}

.search-container .btn {
  margin-left: 0.5rem;
  width: 100px;
  margin-right: 1.25rem;
}

/* .search-container .button-extended {} */

.buycolumn {
  display: flex;
  justify-content: center;
}

.buy-info {
  margin-left: 0.5rem;
  border-radius: 3px;
  background: #ff9243;
  color: #ffffff;
  cursor: pointer;
  padding: 0.25rem 0.4375rem;
}

.channel-first-part {
  display: flex;
  align-items: center;
}

.channel-first-part .channel-block-title {
  margin-left: 0.625rem;
  flex: 1;
}

.btn.btn-blue {
  color: white;
  background-color: #537abb;
}

.btn-group>*:not(:last-child) {
  margin-right: 1rem;
}

.channel.new:before {
  content: "новый";
  background-color: #0fbb00;
}

.channel.top:before {
  content: "в топе";
  background-color: #ff7a00;
}

.channel.top:before,
.channel.new:before {
  text-transform: uppercase;
  display: block;
  position: absolute;
  writing-mode: vertical-lr;
  text-align: center;
  color: white;
  height: 100%;
  top: 100%;
  left: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  /* text-orientation: mixed; */
}

.channel.new.top:before {
  top: 50%;
  height: 50%;
  font-size: 0.6875rem;
  line-height: 1.5rem;
}

.channel.new.top:after {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  content: "новый";
  background-color: #0fbb00;
  text-transform: uppercase;
  display: block;
  position: absolute;
  writing-mode: vertical-lr;
  text-align: center;
  color: white;
  height: 50%;
  top: 100%;
  left: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  /* text-orientation: mixed; */
}

.pagesCounter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem auto;
  position: absolute;
  bottom: -15px;
  right: 8px;
}

.pagesCounter *:not(:last-child) {
  margin-right: 1rem;
}

.nav-tabs[role="tablist"] {
  padding-top: 2rem;
  padding-left: 10px;
}

.buttons-row button {
  width: 100%;
}

.buttons-row div:first-child button,
.buttons-row div:last-child button {
  padding: 0;
}

.buttons-row button a {
  color: white;
  display: block;
  padding: 0.375rem 0.75rem;
}

.buttons-row i {
  margin-right: 1.25rem;
}

.buttons-row .fa-heart {
  color: #ff2929;
}

.profile-block {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f3f6f9;
  border-radius: 3px;
}

.profile-block-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-header-left {
  display: flex;
  align-items: center;
}

.profile-header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-header-img {
  margin-right: 1rem;
}

.profile-header-img img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 7px solid #ffffff;
  border-radius: 50%;
}

.profile-header-name h2 {
  margin-bottom: 0;
  color: #222222;
  font-size: 1.375rem;
}

.profile-header-name div {
  color: #717171;
  font-size: 1.0625rem;
}

#custom-content-below-chatscatalog12>form>div:first-of-type {
  padding-top: 2rem;
}

.profile-header-right-part>div:last-child {
  text-align: center;
  font-size: 1.125rem;
  color: #007bff;
}

.profile-block .channel-adprice-content button {
  width: auto;
  margin-left: 1.25rem;
}

.profile-block .channel-adprice-content .channel-adprice-number {
  margin-right: 0;
  margin-left: 0.625rem;
}

.referal-balance {
  text-decoration: underline;
  font-size: 0.875rem;
}

.socials {
  margin-top: 1.125rem;
}

.socials>* {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 1.875rem;
}

.profile-block-changes>div {
  margin-bottom: 1rem;
}

.profile-block-changes>select:first-of-type {
  margin-bottom: 2rem;
}

.profile-block .form-control2 {
  max-width: 350px;
  padding-left: 0.5rem;
}

.profile-block select.form-control2 {
  width: 100%;
}

#custom-content-below-mychats12>div:first-of-type {
  padding-top: 2rem;
}

.referal-header-name h2 {
  font-size: 1.4375rem;
  font-family: "Roboto";
  color: #222222;
}

.profile-blocks {
  display: flex;
}

.profile-blocks .profile-block {
  margin-right: 1rem;
}

.profile-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1.125rem;
}

.profile-block-buttons .goToChannel,
.profile-block-buttons button {
  width: 100%;
}

.profile-block-buttons .goToChannel {
  margin-bottom: 0.625rem;
}

.profile-block-buttons button {
  margin-bottom: 1.25rem;
}

.profile-blocks .profile-block-buttons .goToChannel {
  color: #222222;
}

.profile-block-buttons button {
  color: white;
}

.profile-blocks .goToChannel {
  color: #00856d;
}

.profile-blocks i.goToChannel {
  color: black;
  font-size: 1.25rem;
}

.statistic-table-header {
  padding: 0.375rem 1rem;
  margin-bottom: 0.875rem;
}

.statistic-table-header {
  display: flex;
  background-color: #e8ecef;
}

.statistic-table-header>div {
  flex: 1;
}

.statistic-table-header .fa-rub {
  font-size: 0.75rem;
}

.statistic-table-content-no {
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #606060;
}

.statistic-table-content-row {
  display: flex;
  padding: 0.375rem 1rem;
}

.statistic-table-content-row>div {
  flex: 1;
}

.statistic-table-content-row>div:nth-child(3) {
  color: #007bff;
}

.statistic-table-content-row:hover {
  background-color: #e0f8ff;
}

.channel-stats .small-box {
  background-color: #F0F5FD;
  box-shadow: none;
}